{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Using my own style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


    <title>Subscription | Moh. Faisal</title>
</head>

<body id='registration-body'>

    <!-- Navigasi Bar -->
    {% include 'navbar.html' %}
    <!-- Akhir Navigasi Bar -->

    <!-- Form -->
    <div class='container' id='registration'>
        <form id='form-registration' method='POST' action='{% url "registration" %}'>
            {% csrf_token %}
            <p id="email-msg" class="small-text"></p>
            {{registration_form}}
            <p id="conf-msg" class="small-text"></p>
            <button id="submit-button" type="submit" class="btn btn-default disabled">Subscribe</button>
            <p id="end-msg" class="small-text"></p>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('#form-registration').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/create-user/',
                    data: {
                        name: $('#name-input').val(),
                        email: $('#email-input').val(),
                        password: $('#password-input').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function () {
                        alert('Created new user');
                    }
                });
            });
        });

        // validate email
        $("#id_email").change(
            function () {
                console.log("masuk")
                var email = $(this).val();
                $.ajax({
                    url: 'validate/',
                    dataType: 'json',
                    success: function (result) {
                        emails = result.email
                        for (var i = 0; i < emails.length; i++) {
                            if (email == emails[i]) {
                                $('#submit-button').attr('class', 'btn btn-default disabled')
                                $('#email-msg').animate({
                                    'color': '#FF0000',
                                    'font-weight': 'bold'
                                })
                                $('#email-msg').html("Email sudah pernah didaftarkan")
                                return
                            }
                        }
                        $('#submit-button').attr('class', 'btn btn-default btn-primary')
                        $('#email-msg').animate({
                            'color': '#008000',
                            'font-weight': 'bold'
                        })
                        $('#email-msg').html("Email boleh digunakan")
                    }
                })
            })

    </script>
</body>

</html>