{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/statusstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

        <title>Hello, world!</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id="hello-box" class="container text-center">
            <h1>Halo, apa kabar?</h1>
        </div>
        <div class="container text-center">
            <form id="form" method="POST" action="{% url 'status' %}">
                {% csrf_token %}
                {{status_form}}
                <br>
                <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                <br>
            </form>
        </div>

        <!--Print status-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% for data in status_data %}
                    <div class="row">
                        <div class="col-sm-6 status">
                            {{data.status}}
                        </div>
                        <div class="col-sm-6 date">
                            {{data.date}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>