body {
	font-family: Abril Fatface;
}

body .guestbook {
	padding-top: 200px;
	padding-bottom: 500px;
}

body .result {
	padding-top: 100px;
}

.jumbotron {
	background-color: #92D6FA;
	font-family: Abril Fatface;
	margin-bottom: 0px;
	height: 600px;
}


.jumbotron h1 {
	margin-top: 200px;
}

hr {
	width: 200px;
	border-top: 3px solid;
}

.about {
	background-color: #D2F0F5;
	min-height: 600px;
	padding-top: 120px;
}

.about p {
	font-size: 20px;
}

.education {
	background-color: #D3ECFA;
	min-height: 600px;
	padding-top: 120px;
	border-top: 5px dashed #ffff;
	border-bottom: 5px dashed #ffff;
}

.education p {
	font-size: 20px;
}

.experience {
	background-color: #C1E4F7;
	min-height: 600px;
	padding-top: 120px;
}

.experience p {
	font-size: 20px;
}

.skills {
	background-color: #BBE2F7;
	min-height: 600px;
	padding-top: 120px;
	border-top: 5px dashed #ffff;
	border-bottom: 5px dashed #ffff;
}

.skills li {
	font-size: 20px;
}

.contact {
	background-color: #9CD7F7;
	min-height: 500px;
	padding-top: 100px;
}

.contact img {
	width: 45px;
}

.contact a {
	font-size: 20px;
	color: black;
}
.navbar a {
	font-size: 20px;
}

.story-page {
	background-color: #BAE2F8;
	min-height: 500px;
}

.story {
	background-color: #BAE2F8;
	min-height: 200px;
}

.story-page p{
	font-size: 25px;
}

.boxed {
  border: 3px dashed white ;
} 

footer {
	background-color: black;
	color: white;
	padding-top: 5px;
}

.guestbook {
	background-color: #92D6FA;
}

.guestbook p {
	font-size: 20px;
}

#navbar {
	background-color: #007bff;
}

#accordion h3 {
	background: #007bff;
	border-radius: 15px;
}

#accordion {
	padding-bottom: 10px;
	width: 100%;
	color: white;
}

#change-themes {
	padding-top: 100px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#content {
  display: none;
  text-align: center;
}


body#registration-body {
	background-color: #D3ECFA;
}
div#registration.container {
	margin-top: 100px;
}