{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Using my own style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Guestbook | Moh. Faisal</title>
  </head>
  <body>
    
    <!-- Navigasi Bar -->
    {% include 'navbar.html' %}
    <!-- Akhir Navigasi Bar -->

    <!-- Form -->
    <section class="guestbook">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
            <h1>Hello!</h1>
            <p>Terima kasih sudah mengunjungi website saya</p>
            <p>Silahkan isi form di bawah ini</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 offset-sm-4">
            <div class="form-group">
              <label for="name-input">Nama</label>
              <input type="text" class="form-control" id="name-input" placeholder="Masukkan nama Anda">
            </div>
            <div class="form-group">
              <label for="date-input">Tanggal</label>
              <input type="date" class="form-control" id="date-input" placeholder="Tanggal">
            </div>
            <div class="form-group">
              <label for="email-input">Email</label>
              <input type="email" class="form-control" id="email-input" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="subject-input">Subjek</label>
              <input type="text" class="form-control" id="subject-input" placeholder="Masukkan subjek">
            </div>
            <div class="form-group">
              <label for="message-input">Pesan</label>
              <textarea class="form-control" id="message-input" rows="3" placeholder="Masukkan pesan Anda"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Form -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>