{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/my.js' %}" type="text/javascript"></script>

    <title>Profile | Moh. Faisal</title>
  </head>
  <body onload="myFunction()"> 
    <!-- loader spinner -->
    <div id="loader"></div>
    
    <div class="animate-bottom" id="content">
    <!-- Navigasi Bar -->
    {% include "navbar.html" %}
    <!-- Akhir Navigasi Bar -->
    
    <!-- jumbotron -->
    <div class="jumbotron text-center">
      <h1 class="font-weight-bold">Hello World !<br>My name is Moh. Faisal</h1>
      <div id="change-themes">
        <button type="button" class="btn btn-light" id="themes1" style="background-color: blueviolet">Themes 1</button>
        <button type="button" class="btn btn-light" id="themes2" style="background-color: lime">Themes 2</button>
      </div>

    </div>
    <!-- akhir jumbotron -->

    <!-- About -->
    <section class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>About Me</h2>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <p class="text-left">Seseorang yang memiliki jiwa optimis yang tidak mudah menyerah dan mempunyai mimpi 
              yang tinggi. Suka akan tantangan dan memiliki jiwa kemanusiaan yang tinggi. </p>
          </div>
          <div class="col-sm-4 text-center">
            <img src="{% static 'img/profil.png' %}" style="width: 250px">
          </div>
          <div class="col-sm-4">
            <ul>
              <p>Nama : Moh Faisal</p>
              <p>Tempat & Tanggal Lahir : Cirebon, 25 Mei 19997</p>
              <p>Alamat : Jl. Margonda Blok Gang H. Atan No. 9 Rt. 04 Rw. 12, Kemiri Muka, Beji, Kota Depok, 16424</p>
              <p>Hobi : Menonton Film</p>
              <p>Motto : "Never Give Up"</p>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div id="accordion">
                <h3><a href="#">My schedules</a></h3>
                <div>
                  <ul>
                    <p>Berikut ini adalah aktivitas saya saat ini</p>
                    <li>Kuliah</li>
                    <li>Ngoding</li>
                  </ul>
                </div>
            
                <h3><a href="#">My experiences</a></h3>
                <div>
                  <p>Berikut ini daftar pengalaman organisasi dan kepanitian yang pernah saya ikuti</p>
                  <ul>
                    <li>BEM Fasilkom UI 2017 - Staff Dept. Keilmuan</li>
                    <li>COMPFEST X - Staff DSA</li>
                  </ul>
                </div>
            
                <h3><a href="#">My achievement</a></h3>
                <div>
                  <p>Sampai saat ini belum ada prestasi yang saya peroleh :(</p>
                </div>
              </div>
            </div>
            <!-- akhir accordion -->
          </div>
        </div>
      </div>
    </section>
    <!-- akhir about -->


    <!-- Education -->
    <section class="education" id="education">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Education</h2>
            <hr>
          </div>
        </div>
        <div class="row text-center" style="padding-top: 50px">
          <div class="col-sm-12">
            <p>2017 - sekarang : Ilmu Komputer - Universitas Indonesia</p>
          </div>
          <div class="col-sm-12">
            <p>2013 - 2016 : SMAN 1 Arjawinangun Kab. Cirebon</p>
          </div>
          <div class="col-sm-12">
            <p>2010 - 2013 : SMPN 1 Susukan Kab. Cirebon</p>
          </div>
          <div class="col-sm-12">
            <p>2004 - 2010 : SDN 2 Susukan Kab. Cirebon</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Education -->


    <!-- Experience -->
    <section class="experience" id="experience">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Experiences</h2>
            <hr>
          </div>
        </div>
        <div class="row text-center" style="padding-top: 50px">
          <div class="col-sm-5 offset-sm-1">
            <p>BEM Fasilkom UI 2018 - Staff Dept. Keilmuan</p>
            <br>
            <p>Wisuda Genap Fasilkom UI 2018 - Staff Kreatif</p>
            <br>
            <p>Bimbingan Belajar Gratis (BETIS) 2018 - Mentor</p>
          </div>
          <div class="col-sm-5">
            <p>COMPFEST X - Staff Data Science Academy</p>
            <br>
            <p>POCMAN - Staff Akademis</p>
            <br>
            <p>Wisuda Ganjil Fasilkom UI 2018 - Staff Kreatif</p>
          </div>
        </div>
      </div>      
    </section>
    <!-- Akhir Experience -->


    <!-- Skills -->
    <section class="skills" id="skills">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Skills</h2>
            <hr>
          </div>
        </div>
        <div class="row" style="padding: 20px">
          <div class="col-sm-6 text-center">
            <h5>Language Skills</h5>
            <hr>
            <div class="row">
              <div class="col-sm-6 offset-sm-2 text-left">
                <ul>
                  <li>English | <img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"></li>
                  <li>Bahasa Indonesia | <img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <h5>Programming Skills</h5>
            <hr>
            <div class="row">
              <div class="col-sm-6 offset-sm-2 text-left">
                <ul>
                  <li>Pyhton | <img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"></li>
                  <li>Java | <img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"><img src="{% static 'img/star.png' %}" style="width: 20px"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </section>
    <!-- Akhir skills -->


    <!-- Contact -->
    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>Contact</h2>
            <hr>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <a href="https://gmail.com"> <img src="{% static 'img/email.png' %}"> mohfaisal7@gmail.com</a>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <a href="https://instagram.com/mohfaisal25"><img src="{% static 'img/instagram.png' %}"> mohfaisal25</a>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <a href=""><img src="{% static 'img/whatsapp.png' %}"> 083818512241</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Contact -->

    <!-- Footer -->
    <footer>
      <div class="row text-center">
        <div class="col-sm-12">
          <p>Copyright. 2018 | Built by Moh. Faisal</p>
        </div>
      </div>
    </footer>
    <!-- Akhir Footer -->  
  </div>
  </body>
</html>