{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>Stories | Moh. Faisal</title>
  </head>
  <body>


    <!-- Navigasi Bar -->
    {% include 'navbar.html' %}
    <!-- Akhir Navigasi Bar -->

    <section class="story-page">
      <div class="container text-center" style="padding-top: 200px">
        <h1>"This is all about my life stories..."</h1>
        <hr>
        <div class="text-box">
          <div class="row" style="padding-top: 10px">
            <div class="col-sm-8 offset-sm-2">
              <div class="boxed text-center">
                <p>Halaman ini berisi tentang cerita hidup saya.<br>Di sini saya akan menceritakan perjalanan hidup saya<br>dari saya lahir hingga sampai website ini dibuat.<br>Enjoy reading...</p>
              </div> 
            </div>
          </div>        
        </div>
      </div>
    </section>

    <!-- List Story -->
    <section class="story" id="story-list">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 text-center offset-sm-1">
            <button type="button" class="btn btn-secondary" style="width: 150px">When I was born</button>
          </div>
          <div class="col-sm-2 text-center">
            <button type="button" class="btn btn-secondary" style="width: 150px">My Childhood</button>
          </div>
          <div class="col-sm-2 text-center">
            <button type="button" class="btn btn-secondary" style="width: 150px">Higschool Life</button>
          </div>
          <div class="col-sm-2 text-center">
            <button type="button" class="btn btn-secondary" style="width: 150px">College Life</button>
          </div>
          <div class="col-sm-2 text-center">
            <button type="button" class="btn btn-secondary" style="width: 150px">Social Life</button>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir List Story -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>