{% load static %}
<!-- Navigasi Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/profil.png' %}" width="50px" height="50px" alt="moh faisal"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#skills">Skill</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'my-story' %}">My Story</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'guestbook' %}">Guestbook</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'addschedule' %}">Add Schedule</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'result' %}">My Schedule</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'status' %}">Status</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Booklist</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'registration' %}">Subscribe</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Akhir Navigasi Bar -->