{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Using my own style.css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>My Schedule | Moh. Faisal</title>
  </head>
  <body>
    
    <!-- Navigasi Bar -->
    {% include 'navbar.html' %}
    <!-- Akhir Navigasi Bar -->

    <section class="result">
      <div class="container">
        <div class="row">
          <h1>This is My schedules</h1>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Location</th>
                  <th>Category</th>
              </thead>
              <tbody>
                  {% for i in result %}
                      <td> {{i.name}} </td>
                      <td> {{i.date}} </td>
                      <td> {{i.location}} </td>
                      <td> {{i.category}} </td>
                  </tr>             
                  {% endfor %}
                  <br>
                  <a href="{% url 'delete-data' %}" class="btn btn-primary" role="button" aria-pressed="true">Delete All Data</a>
              </tbody>
            </table>
          </div>
        </div>       
      </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>